@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Com.OPPO.Mo.TenantManagement.Localization
@using Com.OPPO.Mo.TenantManagement.Web.Pages.TenantManagement.Tenants
@model CreateModalModel
@inject IStringLocalizer<MoTenantManagementResource> L
@{
    Layout = null;
}
<form method="post" asp-page="/TenantManagement/Tenants/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewTenant"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Tenant.Name" />

            <abp-input asp-for="Tenant.AdminEmailAddress" />

            <abp-input asp-for="Tenant.AdminPassword" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>